<br /><br />
<h2>My wishlist items</h2>
<br />
<label>Filter:</label> <input type="text"  class="form-control" placeholder="search" ng-model="ui.itemsFilter.name" />
<br /><br />
<button type="button" class="btn btn-success btn-sm btn-block" ng-click="events.resetForm()" data-toggle="modal" data-target="#itemModal">
	<span class="glyphicon glyphicon-plus"></span> Add Item
</button>

<!-- Html of modal to create a new item -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="labelItemModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> Add Item</h4>
        </div>
		<div class="modal-body">
			<form name="ui.itemForm" novalidate>
	          	<div class="form-group">
	          		<label>Name</label>
	          		<input type="text"  class="form-control" ng-model="ui.itemForm.name" required />
	          		<label>Description</label>
	          		<input type="text" class="form-control" ng-model="ui.itemForm.description" required />
		      		<label>Picture</label>

	          	</div>
	        </form>
		      		<span class="file-input btn btn-block btn-primary btn-file">
		                Add files&hellip; <input type="file" accept="image/x-png, image/jpeg" multiple custom-on-change="events.processFile" />
		            </span><br />

		      		<span ng-repeat="image in images" class="col-md-3">
		      			<br />
		      			<button type="button" class="btn btn-danger btn-xs left-block" ng-click="events.removeImage($index)"><span class="glyphicon glyphicon-remove"></span></button>
		      			<a href="#/image/{{$index}}">
		      				<img src="{{image.sSrc}}" class="img-thumbnail" title="{{image.sFileName}}" width="156" height="118" />
		      			</a>
		      			<br />
		      		</span>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="ui.itemForm.$invalid" ng-click="events.save()"><span class="glyphicon glyphicon-heart"></span> Save Item</button>
        </div>
    </div>
  </div>
</div>
<!-- Html of modal to create a new item -->

<!-- Html of modal to edit an existing item -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="labelItemModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-edit"></span> Edit Item</h4>
        </div>
		<div class="modal-body">
			<form name="ui.editForm" novalidate>
	          	<div class="form-group">
	          		<label>Name</label>
	          		<input type="text"  class="form-control" ng-model="ui.editForm.name" required />
	          		<label>Description</label>
	          		<input type="text" class="form-control" ng-model="ui.editForm.description" required />
		      		<label>Picture</label>

	          	</div>
	        </form>
		      		<span class="file-input btn btn-block btn-primary btn-file">
		                Add files&hellip; <input type="file" accept="image/x-png, image/jpeg" multiple custom-on-change="events.processFile" />
		            </span><br />

		      		<span ng-repeat="image in images" class="col-md-3">
		      			<br />
		      			<button type="button" class="btn btn-danger btn-xs left-block" ng-click="events.removeImage($index)"><span class="glyphicon glyphicon-remove"></span></button>
		      			<a href="#/image/{{$index}}">
		      				<img src="{{image.sSrc}}" class="img-thumbnail" title="{{image.sFileName}}" width="156" height="118" />
		      			</a>
		      			<br />
		      		</span>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="ui.editForm.$invalid" ng-click="events.update(ui.editForm.id)"><span class="glyphicon glyphicon-heart"></span> Save Item</button>
        </div>
    </div>
  </div>
</div>
<!-- Html of modal to edit an existing item -->

<!-- Html of modal to purchase an item -->
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="labelItemModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-usd"></span> Purchase Item</h4>
        </div>
		<div class="modal-body">
			<form name="ui.purchaseForm" novalidate>
	          	<div class="form-group">
	          		<label>Price</label>
	          		<input type="number"  class="form-control" ng-model="ui.purchaseForm.cost" min="1" required />

	          	</div>
	        </form>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="ui.purchaseForm.$invalid" ng-click="events.purchaseElement(ui.purchaseForm.id)"><span class="glyphicon glyphicon-usd"></span> purchase Item</button>
        </div>
    </div>
  </div>
</div>
<!-- Html of modal to purchase an item -->


<!-- Html that show the items in a table -->
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Purchase</th>
    </tr>
    <tr ng-repeat="item in data.items |  filter:ui.itemsFilter  | orderBy:'last_modification':true">
        <td>{{ item.name }}</td>
        <td>{{ item.last_modification | date:"dd/MM/yyyy 'at' h:mma"}}</td>
        <td class="center"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editModal" ng-click="events.getElement($index)"><span class="glyphicon glyphicon-edit"></span> </button></td>
        <td class="center"><button type="button" class="btn btn-danger btn-xs" ng-click="events.delete($index)"><span class="glyphicon glyphicon-remove"></span> </button></td>
        <td class="center"><button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#purchaseModal" ng-click="events.selectToPurchase($index)" ><span class="glyphicon glyphicon-usd"></span> </button></td>
    </tr>
</table>
<!-- Html that show the items in a table -->

<br />
<span>Total Items: {{ data.items | countWishlitFilter }}</span>